* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    color: #263238;
}

img {
    margin: 15px 0;
}

p {
    line-height: 1.45em;
}

.container {
    width: 80%;
    margin-left: 10%;
}

.lista-de-tecnicas {
    margin: 20px;
}

body, html {
    min-height: 100%;
}

body {
    background-color: #ECEFF1;
}

header {
    width: 20%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
}

nav li {
    padding: 10px;
    font-size: 2em;
    list-style: none;
}

.conteudo {
    width: 80%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    width: 80%;
    background: #fff;
    min-height: 80vh;
    margin: 25px 0;
    border-radius: 10px;
    box-shadow: 0 0 20px #B0BEC5;
    padding: 2%;
    font-size: 12pt;
}

section p {
    text-indent: 2.5em;
    font-size: auto;
}

section hr {
    color: #fff;
    margin: 50px 0;
}

.auto-height {
    min-height: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#config button {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    color: #ECEFF1;
    margin: 2px;
}

/* 
 * Botões de ação 
 */

#showMenu{
    background: #E57373;
    display: none;
}

#hideMenu{
    background: #E57373;
}

#layoutmore {
    background: #3F51B5;
}

#layoutless {
    background: #4CAF50;
}

#increment {
    background: #03A9F4;
}

#increment:hover {
    background: #4FC3F7;
}

#decrement{
    background: #f44336;
}

#decrement:hover{
    background: #E57373;
}

#config p {
    font-size: 1em; 
}

h1, h2, h3 {
    text-align: center;
    margin: 20px 0;
}

h1::after, h2::after {
    content: "";
    display: block;
    margin: 10px auto 25px auto;
    width: 25%;
    height: 3px;
    background: #B0BEC5;
}

.estlizacao-img {
    color: #f44336;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #666;
    margin-top: 20px;
}

table th {
    background: #212121;
    color: #fff;
}

table td, table th {
    padding: 5px 2px;
    text-align: center;
}

table tr:nth-child(even) {
    background: #eee;
}

table tr:hover {
    background: #E8EAF6;
}

table td:hover {
    background: #E1F5FE;
}

table td:nth-child(2) {
    text-align: left;
}

footer {
    width: 80%;
    height: 100vh;
    float: right;
    padding: 25px;
    background: #263238;
    color: #eee;
}

footer li {
    margin: 10px;
}

footer a {
    color: #fff;
    margin: 5px;
}

footer a:visited {
    color: #03A9F4;
    text-decoration: line-through;
}

.full-width {
    width: 100%;
}

@media only screen and (max-width: 809px) {
    header {
        position: relative;
        width: 100%;
        height: auto;
        float: none;
    }

    .conteudo {
        width: 100%;
        float: none;
    }

    section {
        width: 95%;
    }

    footer {
        width: 100%;
        float: none;
    }
}