{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Connectedin - {% block title %}Página inicial{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/estilo.css' %}">
</head>

<body style="background: #263238;">
    <div class="navbar-dark" style="background: #3F51B5;">
        <nav class="navbar container navbar-expand-lg">
            <a class="navbar-brand" href="/">ConnectedIn</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'buscar_usuario' %}">Usuários</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'alterar_senha' %}">Alterar senha</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'deslogar' %}">Logout</a>
                    </li>
                </ul>
                <form method="POST" action="{% url 'buscar_usuario' %}" class="form-inline my-2 my-lg-0">
                    {% csrf_token %}
                    <input class="form-control mr-sm-2" type="search" name="busca" placeholder="Nome">
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        </nav>

    </div>


    <main class="mx-0 index">
        <div class="row container">
            <section class="col col-sm-12 col-md-3 py-3 opcoes-do-usuario">
                <div class="card">
                    <div class="card-header center-center" style="background: #3F51B5;">
                        <img src="{% static 'media/img/user.png' %}" alt="Usuário" width="75%"
                            class="img-fluid img-thumbnail"><br>
                        <p class="text-white">{{ perfil_logado.nome }}</p>
                    </div>
                    <div class="card-body">
                        <ul class="nav flex-column mt-3">
                            <li class="nav-item"> <a class="nav-link" href="#">Meu perfil</a> </li>
                            <li class="nav-item"> <a class="nav-link" href="{% url 'conexoes' %}">Conexões</a> </li>
                        </ul>
                    </div>
                </div>
            </section>


            <div class="timeline col col-sm-12 col-md-6 mt-3">
                {% block main %}
                {% endblock %}
            </div>

            <aside class="col col-sm-12 col-md-3 py-3">
                <div class="bg-white card">
                    <div class="card-header text-white" style="background: #3F51B5;">
                        <h3 class="text-center">Convites enviados</h3>
                    </div>
                    <div class="card-body px-0 py-0">
                        {% if perfil_logado.convites_feitos.all %}

                        <ul class="list-group">
                            <p class="text-center px-1 pt-3">
                                você possui {{ perfil_logado.convites_feitos.count }}
                                convite{{ perfil_logado.convites_feitos.count|pluralize }}
                            </p>
                            {% for convite in perfil_logado.convites_feitos.all %}
                            <li class="list-group-item">Fulano de tal <a href="{% url 'rejeitar' convite.id %}"
                                    class="float-right">cancelar</a></li>
                            {% endfor %}
                        </ul>
                        <a href="#" class="btn btn-light full-w"">Ver todos</a>
                            {% else %}
                            <p class=" px-2 py-3 text-center">Nenhuma solicitação recebida</p>
                            {% endif %}
                    </div>
                </div>

                <div class="mt-3 card bg-white">
                    <div class="card-header text-white" style="background: #3F51B5;">
                        <h3 class="text-center">Convites Recebidos</h3>
                    </div>
                    <div class="card-body px-0 py-0">
                        {% if perfil_logado.convites_recebidos.all %}
                        <ul class="list-group">
                            <p class="text-center px-1 pt-3">
                                Você possui
                                {{ perfil_logado.convites_recebidos.count }}
                                convite{{ perfil_logado.convites_recebidos.count|pluralize }}
                            </p>

                            {% for convite in perfil_logado.convites_recebidos.all %}
                            <li class="list-group-item">{{ convite.solicitante.nome }} <a
                                    href="perfil/{{ convite.id }}/aceitar" class="float-right">Aceitar</a> <a
                                    href="perfil/{{ convite.id }}/rejeitar" class="float-right">Rejeitar</a> </li>
                            {% endfor %}
                        </ul>
                        <a href="#" class="btn btn-light full-w">Ver todos</a>
                        {% else %}
                        <p class="px-2 py-3 text-center">Nenhuma solicitação recebida</p>
                        {% endif %}
                    </div>
                </div>
            </aside>

        </div>
    </main>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>